<div class="card bg-dark text-light">
  <div class="card-header">Overlayscrollbars Example</div>
  <div class="card-body">
    <button
      (click)="setOverlayscrollbarsParentScroll()"
      class="mb-3 btn btn-primary"
    >
      Set Overlayscrollbars withScrollableParents
    </button>
    <overlay-scrollbars [options]="overlayscrollbarsOptions">
      <div
        cdkDropList
        #overlayscrollbarDropList="cdkDropList"
        [cdkDropListData]="overlayscrollbarItems"
        (cdkDropListDropped)="onDrop($event)"
      >
        <div
          *ngFor="let item of overlayscrollbarItems"
          cdkDrag
          class="example-box"
        >
          {{ item }}
        </div>
      </div>
    </overlay-scrollbars>
  </div>
</div>
